body { height: 100%; width: 100%; padding: 0; margin: 0; font-family: 'Open Sans Condensed', sans-serif; background-color: #D6D6D6; font-size: 12pt; } 
#header { z-index: 5; height: 100px; width: 100%; position: fixed; top: 0px; background-color: #2F2F2F; color: #EEE; padding: 0px; background-image: url("../img/feather.png"); background-repeat: no-repeat;  background-position: center right; }
#header img { margin: 15 0 0 15; }
#header input { position: absolute; right: 30px; top: 30px; width: 304px; height: 44px; border-radius: 10px 10px 10px 10px; border: 2px solid transparent; font-size: 12pt; padding: 5px 5px 5px 15px; }
#header input:focus { outline: none; border: 2px solid #66cc00; }
:-moz-placeholder { text-align: right; color: #c6c6c6; }
::-webkit-input-placeholder { text-align: right; color: #c6c6c6; }
::-moz-placeholder { text-align: right; color: #c6c6c6; }
:-ms-input-placeholder { text-align: right; color: #c6c6c6; }
#abc { z-index: 6; line-height: 50px; width: 100%; position: fixed; top: 100px; text-align: center; background-color: #66cc00; color: #EEE; font-size: 15pt; }
a { padding-left: 9px; padding-right: 9px; color: #DDD; text-decoration: none; }
a:hover { color: #FFF; font-weight: bold; }
a:active {color: #FFF; font-weight: bold; }
#spacer { height: 170px; width: 100%; }
#content { width: 60%; margin: auto; }
.information { background-color: #2F2F2F; color: #EEE; background-image: url("../img/tile.png"); }
.information h1 { margin: 70px 0 0 150px; float: left; position: absolute; }
.information h2 { margin-left: 50%; width: 48%; padding: 50 20 0 0; font-size: 14pt; }
.information p { margin-left: 50%; width: 48%; padding: 10 20 50 0; }
.information span { margin: 5 10 0 0; font-weight: bold; float: right; cursor: pointer; font-size: 14pt; color: #666; font-family: Consolas, monaco, monospace; }
.information img { height: 100px; margin: 120px 0 0 100px; float: left; }
.information span:hover { color: #FFF; }
.filter { background-color: #2F2F2F; color: #EEE; height: 40px; margin-top: 10px; background-image: url("../img/tile.png"); }
.filter p { font-size: 9pt; width: 300px; margin: 3 5 0 10;  position: absolute; height: 20px; }
.filter span { float: right; margin: 7 10 0 0; border-radius: 10px 10px 10px 10px; background-color: #444; padding: 5px; font-weight: bold; sans-serif; font-size: 10pt; }
.filter span:hover { background-color: #66cc00; }
.alphabet { display: flex; flex-flow: row wrap; text-align: center; border-left: 30px solid #66cc00; margin: 10 0 0 -45; }
.alphabet h3 { position: absolute; width: 30px; margin: 10 0 0 -30; font-size: 16pt; color: #EEE; }
.tool { text-align: left; background-color: #FFF; z-index: 2; height: 200px; width: 302px; padding: 0 10 10 10; margin: 10 0 10 15; overflow-y: hidden; font-size: 12pt; background-image: url("../img/corner.png"); background-repeat: no-repeat;  background-position: right bottom; }
.tool span { font-size: 11pt; color: #66cc00; font-weight: bold; }
.tool h2 { font-size: 16pt; }
.curl { font-family: Consolas, monaco, monospace; font-size: 8pt; background-color: #2F2F2F; color: #66cc00; padding: 10px; position: relative; text-align: center; }
#b,#d,#f,#g,#h,#i,#j,#k,#m,#n,#o,#p,#q,#r,#s,#t,#u,#v,#w,#x,#y,#z { display: none; }
